* {
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* NAV STYLE */
nav {
  display: flex;
  justify-content:space-between;
  padding-bottom: 10px ;
  padding-left: 10px;
  padding-right:10px;

}
.nav-right {
  display: flex;
  justify-content: space-between;
}
.nav-right div {
  display: flex;
  justify-content: space-between;
}
.nav-logo{
  display: flex;
  flex-direction: row;
}
.nav-logo img {
  height: 35px;
  color: purple;
}

.nav-search {
  display: flex;
}
.nav-search input{
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: rgb(220, 220, 220);
  border-radius: 2px 2px;
}
  
.nav-search button{
  border: none;
  background-color: rgb(220, 220, 220);
}
.drop-menu{
  display:none; 
  width: 15px;
  height: 15px;
}
.drop-menu img{
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.dropdown-content{
  visibility: hidden;
  position: absolute;
  background-color: red;

}
.drop-menu:hover .dropdown-content{
  visibility:visible;

}
/* END NAV STYLE*/

/* CONTENT STYLE  */


.body-header {
  display: flex;
  position: relative;
  text-align: left;
  color: white;
 
}
.body-header img {
  width: 100%;

}
.popular-books{
  display: flex;
  justify-content: space-around;
}
.new-books{
  display: flex;
  justify-content: space-around;
}
.headertext-center {
  max-width: 640px;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 38px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.headertext-small {
  position: absolute;
  top: 50%;
  left: 10%;
  font: 15px;
}
.books-heading{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 22px;
  font-size: 25px;

}
#book-browse{
  color: grey;
  font-size: 18px;
}
.books-booklist{
  display: flex;
  flex-wrap: wrap;
}
.books-booklist div {
  padding: 22px;
}
.books-booklist img {
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: row;
}
.booklist-title{
  font-weight: bold;

}
.booklist-author{
  color: grey;
  font-size: 12px;
}
.app-section {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  height: 580px;
  margin-top: 60px;
  background-color: rgb(255, 228, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}
.app-textarea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-textbig{
  font-size: 40px;
}
.app-textsmall{
  font-size: 16px;
}
.site-questions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}
#questions-title{
  font-size: 36px;
  padding-bottom: 15px;
}
.questions-fr{
  padding-top: 15px;
}
.questions-fr div{
  padding-bottom: 25px;
}
.hr-q{
  border-top: 4px solid ;
  opacity: 20%;
}
.questions-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-single{
  font-size: 20px;
}

/* END CONTENT STYLE */


/*  FOOTER STYLE*/
footer{
  display: flex;
  position: relative;
  background-color: black;
  color: white;
  padding: 20px;
  flex-direction: column;
}
footer a {
  color: white;
}
.footer-links{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

}
.companylinks{
  display: flex;
  flex-direction: column;
}
.worklinks{
  display: flex;
  flex-direction: column;

}
.booklinks{
  display: flex;
  flex-direction: column;

}
.quicklinks{
  display: flex;
  flex-direction: column;

}
.footer-others{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}

.link-title{
  font-size: 20px;
  padding-bottom: 15px;
}

/*END FOOTER STYLE*/

/* RESPONSITIVITY FOR TABLET*/




@media(max-width: 767px){
 
  .hide-book{
    display: none;
  }
  .books-booklist div {
    padding: 16px;
  }
  .books-booklist img{
    width: 130px;
    height: 190px;
    display: flex;
    flex-direction: row;
  }
  .app-section img{
    width: 380px;
    height: 480px;
  }
  .app-textbig{
    font-size: 26px;
  }
  .app-textsmall{
    font-size: 12px;
  }
  .questions-img{
    display: none;
  }
  .site-questions{
    display: grid;
    grid-template-columns: 1fr;
  }
  .app-section{
    height: 450px;
  }
  .footer-links{
    display: flex;
  }
  .nav-company {
  visibility: hidden;
  }
  .nav-readlist{
    visibility: hidden;
  }
  .nav-books{
    visibility: hidden;
  }
  .drop-menu{
    visibility: visible;
  }
}
/*RESPONSITIVITY FOR MOBILE*/
@media(max-width: 480px){
  .nav-search{
    display: none;
  }
  .app-section {
    display: grid;
    grid-template-rows: 1fr 1fr;

  }

  nav{
    display: flex;
    justify-content: space-evenly;

  }
  
  .nav-logo{
    align-items: flex-start;

  }
  .headertext-small {
    top: 60%;
  }
  .popular-books{
  }
    
    
}
  
  
