/* * {
  margin: 0;
  padding: 0;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* NAV STYLE */
nav {
  display: flex;
  justify-content:space-between;
  padding: 10px;

}
.nav-right-list{
 
} 


.nav-right-list li {
  display: inline;
  text-decoration: none;
}
.nav-right-list li:nth-child(-n+3) {
  padding: 10px;
  
}
.nav-logo{
  display: flex;
  flex-direction: row;
}
.nav-logo img {
  height: 35px;
  color: purple;
}
.nav-search-mobile{
  visibility: hidden;
}

.nav-search {
  display: flex;
}
.menuhidden{ 
  visibility: hidden;

}
.dropdown{
  visibility: hidden;
}
.nav-search input{
  border: none;
  cursor: pointer;
  width: 200px;
  background-color: rgb(220, 220, 220);
  border-radius: 2px 2px;
}
  
.nav-search button{
  border: none;
  background-color: rgb(220, 220, 220);
}



.dropdown-content{
  visibility: hidden;
  position: absolute;
  background-color: red;

}
.drop-menu:hover .dropdown-content{
  visibility:visible;

}
/* END NAV STYLE*/

/* CONTENT STYLE  */


.body-header {
  display: flex;
  position: relative;
  text-align: left;
  color: white;
 
}
.body-header img {
  width: 100%;

}
.popular-books{
  display: flex;
  justify-content: space-around;
}
.new-books{
  display: flex;
  justify-content: space-around;
}
.headertext-center {
  max-width: 640px;
  position: absolute;
  top: 30%;
  left: 10%;
  font-size: 38px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.headertext-small {
  position: absolute;
  top: 50%;
  left: 10%;
  font: 15px;
}
.books-heading{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 22px;
  font-size: 25px;

}
#book-browse{
  color: grey;
  font-size: 18px;
}
.books-booklist{
  display: flex;
  flex-wrap: wrap;
}
.checked{
  color: orange;
}
.books-booklist div {
  padding: 22px;
}
.books-booklist img {
  width: 200px;
  height: 260px;
  display: flex;
  flex-direction: row;
}
.booklist-title{
  font-weight: bold;

}
.booklist-author{
  color: grey;
  font-size: 12px;
}
.app-section {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  margin-top: 60px;
  background-color: rgb(255, 228, 255);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;

}
.app-textarea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-textbig{
  font-size: 40px;
}
.app-textsmall{
  font-size: 16px;
}
.app-download-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.app-store-badge{
  width:100px ;
  height:75px ;
}
.google-play-badge{
  width: 110px;
  height: 49.5px;
  padding-top: 13px;
}
.site-questions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}
#questions-title{
  font-size: 36px;
  padding-bottom: 15px;
}
.questions-fr{
  padding-top: 15px;
}
.questions-fr div{
  padding-bottom: 25px;
}
.hr-q{
  border-top: 4px solid ;
  opacity: 20%;
}
.questions-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.question-single{
  font-size: 20px;
}

/* END CONTENT STYLE */


/*  FOOTER STYLE*/
footer{
  display: flex;
  position: relative;
  background-color: black;
  color: white;
  padding: 20px;
  flex-direction: column;
}
footer a {
  color: white;
}
.footer-links{
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

}
.companylinks{
  display: flex;
  flex-direction: column;
}
.worklinks{
  display: flex;
  flex-direction: column;

}
.booklinks{
  display: flex;
  flex-direction: column;

}
.quicklinks{
  display: flex;
  flex-direction: column;

}
.footer-others{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}

.link-title{
  font-size: 20px;
  padding-bottom: 15px;
}

/*END FOOTER STYLE*/

/* RESPONSITIVITY FOR TABLET*/




@media(max-width: 767px){
 
  .hide-book{
    display: none;
  }
  .dropdown{
    visibility: visible;
  }
  .books-booklist div {
    padding: 16px;
  }
  .books-booklist img{
    width: 130px;
    height: 190px;
    display: flex;
    flex-direction: row;
  }
  .app-section{

  }
  .appsection-image img{
    width: 350px;
    height: 450px;
  }
  .app-textbig{
    font-size: 26px;
  }
  .app-textsmall{
    font-size: 12px;
  }
  .app-store-badge{
    width:100px ;
    height:75px ;
  }
  .google-play-badge{
    width:100px ;
    height:50px ;
    padding-top: 11px;
  }
  .questions-img{
    display: none;
  }
  .site-questions{
    display: grid;
    grid-template-columns: 1fr;
  }
  .app-section{
    height: 450px;
  }
  .footer-links{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: center;
  }
  .nav-company {
    display: none !important;
  }
  .nav-readlist{
    display: none !important;
  }
  .nav-right-list li:nth-child(-n+3){
    display: none;

  }
  .dropdown{ 
    display: none;
  
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content{
    display: block;

  }
  
  .drop-menu{
    visibility: visible;
  }
}
/*RESPONSITIVITY FOR MOBILE*/
@media(max-width: 480px){
  .nav-search{
    display: none;
  }
  .app-section {
    display: grid;
    grid-template-columns: 1fr;
    order: -1;
    justify-items: center;
  }
  .appsection-image{
    width: 300px;
    height: 350px;
  }

  .app-section div:nth-of-type(1) {
    order:2;
  }
  .app-section div:nth-of-type(2) {
    order:1;
  }
  .menuhidden{ 
    visibility:visible;
  
  }

  nav{
    display: flex;

  }
  
  .nav-logo{
    align-items: center;

  }
  .nav-search-mobile{
    visibility: visible;
    
  }
  .nav-profile{
    padding: 0px 8px 0px 8px;
  }
  .headertext-small {
    top: 70%;
  }
  .popular-books{
  }
    
    
}
  
  
